# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python clutter
__pycache__/
*.py[cod]
*$py.class

# Large Data 
notebooks/data/

# Old/Irrelevant Models
notebooks/cifar_net.pth

# Environments
venv/
.venv/
env/

# Streamlit specific
.streamlit/config.toml
